.projectsCont{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    grid-row-gap: 50px;
}

.title{
    font-size: 32px;
    font-family: Notable;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    z-index: 3;
    position: absolute;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0;
    background-color: #00000075;
    display: flex;
    align-items: flex-end;
}

.overlayText{
    color: #fff;
    padding: 0 15px 30px 15px
}

.luna{
    background-image: url('../../../assets/images/luna.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.luna:hover .overlay,
.luna:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}

.passwordManager {
    background-image: url('../../../assets/images/passwordManager.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.passwordManager:hover .overlay,
.passwordManager:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}

.emailSender {
    background-image: url('../../../assets/images/emailSender.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.emailSender:hover .overlay,
.emailSender:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}

.phonebook {
    background-image: url('../../../assets/images/phonebook.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.phonebook:hover .overlay,
.phonebook:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}

.blog{
    background-image: url('../../../assets/images/voicehelper.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.blog:hover .overlay,
.blog:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}

.myPlayer {
    background-image: url('../../../assets/images/myPlayer.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.myPlayer:hover .overlay,
.myPlayer:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}

.paws {
    background-image: url('../../../assets/images/paws.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.paws:hover .overlay,
.paws:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}

.deadlines {
    background-image: url('../../../assets/images/planner.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    max-width: 264px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.deadlines:hover .overlay,
.deadlines:focus .overlay {
    opacity: 1;
    transition: all 0.4s;
}


.process{
    position: absolute;
    right: 0;
    top: 15px;
    color: #fff;
    border: 1px solid #ff5277;
    background-color: #ff5277;
    border-right: none;
    padding: 2px 10px 2px 5px;
}