.headerCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCont{
    display: flex;
    align-items: center;
}

.image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.name{
    font-family: Notable;
    color: #fff;
    font-size: 18px;
}

.linkCont{
    display: flex;
    column-gap: 10px;
    font-size: 18px;
}

.link{
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
    font-family: 'Oswald';
}

.linkNumber{
    font-weight: bold;
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/fonts/Oswald.ttf');
  }